@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

body{
    font-family: 'Titillium Web', sans-serif;
    color: #5f5f5f;
}

.bgHeader{
    background-image: url(../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    height: 850px;
}

.menuIdioma{
    height: 25px;
    padding-top: 8px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.alignMenu{
    padding-top: 6%;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #d0d0d0;
    background-color: transparent;
}

.BlockSections{
    margin-top: -150px;
}

.bgWhos{
    background-image: url(../images/quemsomos.jpg);
    background-color: #6d007f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 260px;
}

.titulosQ{
    color: #fff;
    text-align: center;
    padding: 33% 0 0 0;
    font-size: 2.5em;
    line-height: 40px;
    text-transform: uppercase;
}

.titulosQB{
    color: #4d1877;
    text-align: center;
    padding: 33% 0 0 0;
    font-size: 2.5em;
    line-height: 40px;
    text-transform: uppercase;
}

.tituloBold{
    font-size: 1.2em;
    font-weight: 700;
}

.blockBorder{
    border-top: solid 10px #6d007f;
    background-color: #e7f1ff;
}

.alignTxtWhos{
    height: 260px;
    padding-top: 8%;
}

.alignTxtJog{
    height: 260px;
    padding-top: 10%;
}

.txtWhos{
    color: #5f5f5f;
    font-size: 1.5em;
}

.BlockSectionsB{
    margin-top: 5%;
}

.bgProducts{
    background-image: url(../images/produtos.jpg);
    background-color: #bee548;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 260px;
}

.blockBorderP{
    border-top: solid 10px #bee548;
    background-color: #e7f1ff;
}

.bgJob{
    background-image: url(../images/trabalhe.jpg);
    background-color: #e54874;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 260px;
}

.blockBorderT{
    border-top: solid 10px #e54874;
    background-color: #e7f1ff;
}

.bgContact{
    background-image: url(../images/contato.jpg);
    background-color: #e5d448;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 260px;
}

.blockBorderC{
    border-top: solid 10px #e5d448;
    background-color: #e7f1ff;
}

.bgFooter{
    background-image: url(../images/bgFooter.jpg);
    background-color: #133554;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.txtFooter{
    color: #fff;
    text-align: center;
    padding: 5%;
    font-size: 1.5em;
    text-transform: uppercase;
}

.imgIdioma{
    width: 20px;
    margin-top: -4px;
}

.txtIdioma{
    color: #fff;
    text-transform: uppercase;
}

.linkIdioma{
    color: #fff;
    text-decoration: none;
}

.linkIdioma:hover{
    color: #d0d0d0;
    text-decoration: none;
}

.mt-5{
    margin-top: 5%;
}

.mb-5{
    margin-bottom: 5%;
}

.tituloProd{
    color: #4d1877;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: italic;
}

.tituloProdB{
    font-size: 1.3em;
}

.tituloProdC{
    font-size: 1.3em;
    margin-top: 5%;
}

.tituloProdMP{
    color: #8aa635;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: italic;
}

.tituloProdMPB{
    font-size: 1.3em;
}

.panel-default > .panel-heading{
    background: #E7F1FF;
    border-bottom: 1px solid;
    border-color: #000;
}

.panel{
    background-color: transparent;
    border: 0px;
}

.tituloProdGHS{
    color: #de9009;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: italic;
}

.tituloProdD{
    font-size: 1.3em;
}

.panel-body{
    background-color: #f0f6ff;
}

.tituloProd01{
    color: #961fad;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: italic;
}

.text01{
    font-size: 1.1em;
    text-align: center;
}

.text01B{
    font-size: 1.1em;
    text-align: left;
}

.blocoForm{
    background-color: #c1cee0;
    padding: 10% 15%;
    border-radius: 10px;
}

.form-control{
    padding: 25px 20px;
    font-size: 1.3em;
    border-radius: 15px;
}

.btn{
    font-size: 18px;
    padding: 10px 50px;
    color: #7a7a7a;
    border-radius: 10px;
    text-transform: uppercase;
}

.btnAlign{
    text-align: center;
}

.linkEmel{
    font-size: 1.5em;
    text-align: center;
}

.linkEmel a:hover{
    text-decoration: none;
}

.textEnd{
    font-size: 1.8em;
    color: #2f78b9;
    font-weight: 700;
}

.textEndB{
    font-size: 1.3em;
}

@media (max-width: 575.98px) { 
    .bgWhos, .bgProducts, .bgJob, .bgContact{
        background-size: cover;
        height: 157px;
    }

    .titulosQ, .titulosQB{
        padding: 10% 0 0 0;
    }

    .blockBorder, .blockBorderP, .blockBorderT, .blockBorderC {
        border-top: solid 0px #6d007f;
    }

    .textEnd, .textEndB{
        text-align: center;
    }
 }

/*/ Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .bgWhos{

    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/